<div class="container">
  <h1>New Category</h1>
  <form id="category-form" action="/categories" method="post">
    Enter new category:
    <br>
    <input type="text" name="category[name]">
    <input type="submit" value="SUBMIT">
  </form>
</div>
